@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
}

ul {
	list-style-type: none;
}

button {
	all: unset;
	padding: 15px 32px;
	background: #6c63ff;
	border-radius: 1rem;
	color: white;
	cursor: pointer;
}

#informationView {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: auto;
	padding: 1.5rem;
	margin-bottom: 3rem;
}

#informationView .photo {
	margin-top: 3rem
}

#informationView .sign-in {
	padding: 1rem;
}

.sign-in h1 {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

#sideBar {
	background: #6c63ff;
	display: block;
	bottom: 0%;
	width: 100%;
	position: fixed;
}

#sideBar i {
	font-size: 1.8rem;
	height: 100%;
	width: 100%;
}

#sideBar ul {
	color: white;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 1rem;
}

#sideBar ul li {
	flex: 1;
	cursor: pointer;
}

#sideBar span {
	display: none;
}


/* About pane */

.about {
	text-align: left !important;
	padding: 1rem;
}

.about p {
	padding: 1rem;
}

.about h1 {
	margin-left: 1rem;
}


/* Topics pane*/
.topicsHeading a {
  text-decoration:underline ;
  color:blue;
}
.topics-cont {
	width: 100%;
	padding: 2rem;
	margin-bottom: 3rem;
	text-transform: uppercase;
}

.topics-card {
	border: 1px solid black;
	display: flex;
	cursor: pointer;
	padding: 1rem;
	margin-bottom: 1rem;
	width: 100%;
}

.topics-card div {
	flex: 1;
}

.topics-card i {
	font-size: 4rem;
}

.topics-card p {
	font-size: 1.5rem;
}

.topics-card .text {
	align-items: center;
	display: flex;
}


/* after the user selects a topic off video to search, these are the result stylings */

.video {
	display: flex;
	margin-bottom: 2rem;
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	cursor: pointer;
}

.video div {
	flex: 1;
}

.video .videoTitle {
	text-align: left;
}

.video .videoTitle span {
	padding: 1rem;
}


/* LOADER SPINNER CLASS */

.loader {
	border: 16px solid #f3f3f3;
	/* Light grey */
	border-top: 16px solid #6c63ff;
	;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#player {
	width: 100%;
	height: 300px;
}

@media (min-width:530px) {
	/*Topics section*/
	.topicsHeading {}
	.topics-cont {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0px;
		margin-top: 2rem;
		margin-bottom: 3rem;
	}
	.topics-cont a {
		flex: 1;
		margin-left: 1rem;
		margin-right: 1rem;
		max-width: 265px;
	}
	.topics-cont a .topics-card {
		max-width: 265px;
	}
}

@media (min-width:641px) {}

@media (min-width:1025px) {
	body {
		background: #6c63ff;
		padding: 10px;
	}
	#masterParent {
		display: flex;
		flex-direction: row-reverse;
	}
	/*Route view component styling*/
	#masterParent #informationView {
		width: 100%;
		background: white;
		height: 95vh;
		border-radius: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: initial;
	}
	#informationView .parent {
		align-items: center;
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 100%;
		margin-top: 0px;
	}
	#informationView .parent .photo {
		/*flex order styling
      this sets the order off the image to come after the greeting and sign in button class
    */
		order: 2;
	}
	#informationView .parent div {
		flex: 1;
	}
	#informationView .about {
		width: 50%;
	}
	/* sideBar styling */
	#masterParent #sideBar {
		align-items: center;
		display: flex;
		position: initial;
		width: 15%;
	}
	#sideBar ul {
		width: 100%;
		display: flex;
		text-align: center;
		flex-direction: column;
		list-style-type: none;
		padding: 0px;
	}
	#sideBar ul li {
		color: white;
		cursor: pointer;
		padding: 10px;
		font-size: 22px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

