

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
a {
  text-decoration:none;
  color:inherit;
}
img {
	width: 100%;
}
ul {
  list-style-type:none;
}

button {
	all: unset;
	padding: 15px 32px;
	background: #6c63ff;
	border-radius: 1rem;
	color: white;
  cursor:pointer;
}

#informationView {
	display: flex;
	flex-direction: column;
	align-items: center;
	;
	text-align: center;
  height:auto;
}
#informationView .photo{
  margin-top:3rem
}
#informationView .sign-in {
  padding:1rem;
}
.sign-in h1 {
  font-size:1.5rem;
  margin-bottom:2rem;
}
#sideBar {
	background: #6c63ff;
	display: block;
	bottom: 0%;
	width: 100%;
	position: fixed;
}
#sideBar i {
  font-size:1.8rem;
  height:100%;
  width:100%;
}
#sideBar ul {
  color:white;
  display:flex;
  justify-content: center;
  text-align:center;
  padding:1rem;
}
#sideBar ul li {
 flex:1;
 cursor:pointer;
}

/* About pane */
.about {
  text-align:left !important;
  padding:1rem;
}
.about p {
  padding:1rem;
}
.about h1 {
  margin-left:1rem;
}

/* Topics pane*/

.topics-cont {
  width:100%;
  padding:2rem;
  margin-bottom:3rem;
  text-transform:uppercase;
}
.topics-card {
  border:1px solid black;
  display:flex;
  cursor:pointer;
  padding:1rem;
  margin-bottom:1rem;
  width:100%;
}
.topics-card div {
  flex:1;
}
.topics-card i {
  font-size:4rem;
}
.topics-card p {
  font-size:1.5rem;
}

.topics-card .text{
align-items: center;
display: flex;
}